@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-flex-1\.8 {
  flex: 1.8;
}

.custom-header-size {
  width: 256px;
}
@media (min-width: 640px) {
  .custom-header-size {
    width: 296px;
  }
}

.custom-question-button-size {
  height: 1.75rem;
  width: 1.75rem;
}
@media (min-width: 640px) {
  .custom-question-button-size {
    width: 2rem;
    height: 2rem;
  }
}
